.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}


.container{
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 50px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;

}

ul{
  padding-left: 0px;
}

.todo-items{
  min-width: 60%; 
}

#input-todo-button{
  margin-top:20px;
}

#LibraryAddCheckIcon{
  font-size: 10rem;
}
